/* FIGMA 320 design */
.movies-card-list {
    margin: 50px 10px 30px;
    padding: 0;

    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(271px, 1fr));

}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .movies-card-list {
        margin: 80px 30px 30px;

        row-gap: 35px;
        column-gap: 24px;

        /* grid-template-columns: repeat(auto-fit, minmax(342px, 1fr)); */
        grid-template-columns: auto auto;
        grid-template-rows: repeat(auto-fit, minmax(309px, 1fr));

    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .movies-card-list {
        margin: 80px 68px 60px;

        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(319px, 1fr));
    }
}