/* FIGMA 320 design */
.movies__error-span {
    margin: 14px;
    font-size: 14px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .movies__error-span {
        margin: 30px;
        font-size: 16px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .movies__error-span {
        margin: 70px;
        font-size: 18px;
    }
}