.profile__input {
    color: #FFF;
    text-align: right;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;

    border: 1px solid #3456F3;
    border-radius: 5px;
    background-color: transparent;

    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-left: 3px;
    width: 50%;
    flex-shrink: 0;
}

.profile__input:disabled {
    border: none;
    font-style: normal;
}