.profile__input {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    background-color: transparent;
    /* outline: none; */

    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: 50%;
    flex-shrink: 0;
}