/* FIGMA 320 design */
.profile__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto 0 5.13vh;
    padding: 0;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .profile__footer {
        margin: auto 0 20px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .profile__footer {
        margin: auto 0 0;
    }
}