/* FIGMA 320 design */
.profile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    margin: 0 auto;
    padding: 0;
    flex-shrink: 0;

    width: calc(100vw - (2 * 30px));
    height: calc(100vh - 74px);
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .profile {
        max-width: 410px;
        max-height: 445px;
        margin-top: 23vh;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .profile {
        max-height: 482px;
        margin-top: 10.57vh;
    }
}