@import url("./notfound__link.css");
@import url("./notfound__text.css");
@import url("./notfound__title.css");

.notfound {
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}