/* FIGMA 320 design */
.portfolio__link {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.72px;

    margin: 0;
    padding: 0;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__link::after {
    content: "↗";
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
        /* 178.571% */
        letter-spacing: -1.12px;
    }

    .portfolio__link::after {
        line-height: 60px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .portfolio__link {
        font-size: 30px;
        letter-spacing: -1.2px;
    }
}