/* FIGMA 320 design */
.portfolio__list-item {
    margin: 0;
    padding: 20px 0 19px;

    list-style-type: none;
    border-bottom: solid #E6E6E6 1px;
}

.portfolio__list-item:first-of-type {
    padding-top: 0;
}

.portfolio__list-item:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .portfolio__list-item {
        padding: 20px 0 9px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .portfolio__list-item {
        border-color: #424242;
    }
}