/* FIGMA 320 design */
.portfolio__list {
    width: 100%;
    margin: 40px 0 0;
    padding: 0;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .portfolio__list {
        margin: 50px 0 0;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {}