/* FIGMA 320 design */
.portfolio {
    align-items: flex-start;
    padding: 0 14px 70px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .portfolio {
        padding: 0 50px 80px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .portfolio {
        padding: 0 70px 115px;
    }
}