.portfolio__header {
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */

    margin: 0;
    padding: 0;
}