/* FIGMA 320 design (default) */
.promo__text {

    margin: 24px 30px 0;
    padding: 0;

    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    opacity: 0.5;
}