/* FIGMA 320 design */
.landing-section-container {
    max-width: 1280px;
    width: 100%;

    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .landing-section-container {
        padding: 0 44px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .landing-section-container {
        padding: 0 70px;
        align-items: stretch;
    }
}