.guest-menu__login {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 160% */

    flex-shrink: 0;
    border-radius: 3px;
    background: #3DDC84;
    box-sizing: border-box;

    padding: 7px 12px;
    margin: 0 0 0 14px;

    text-decoration: none;
}