.guest-menu__register {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 160% */

    padding: 0;
    margin: 0;

    text-decoration: none;
}