/* FIGMA 320 design */
.page {
    margin: 0 auto;

    min-width: 320px;
    width: 100%;

    min-height: 480px;
    height: 100%;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: stretch; */

    /* cглаживание: */
    -webkit-font-smoothing: antialiased;
    /* В Safari и во всех браузерах на платформе Chromium (например, Google Chrome, Яндекс Браузер или Opera): */
    -moz-osx-font-smoothing: grayscale;
    /* В Mozilla Firefox */
}


/* FIGMA 768 design */
@media screen and (min-width: 768px) {}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {}