.moviecard {
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    border-radius: 6px;
    background: #222;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    flex-shrink: 0;


}