.movie-card__button_remove-from-liked {
    background: #222222;
    background-image: url(../../images/movie_remove.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}