/* FIGMA 320 design */
.searchmovies {
    display: flex;
    flex-direction: column;
    row-gap: 29px;

    margin: 70px 14px 0;

    padding-bottom: 60px;
    border-bottom: 1px solid #AAAAAA33;
    box-sizing: border-box;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .searchmovies {
        margin: 70px 30px 0;
        row-gap: 27px;
        padding-bottom: 48px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .searchmovies {
        margin: 70px 70px 0;
        row-gap: 26px;
        padding-bottom: 42px;
    }
}