/* FIGMA 320 design */
.navigation__listitem {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    list-style-type: none;
}

.navigation__listitem:last-of-type {
    margin-top: auto;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {
    .navigation__listitem {
        margin-bottom: 0;
        margin-left: 20px;
    }

    .navigation__listitem:last-of-type {
        margin-top: 0;
        margin-left: 50px;
    }

}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {}