@import url("./auth__input.css");
@import url("./auth__input_invalid.css");
@import url("./auth__inputs.css");
@import url("./auth__submit.css");
@import url("./auth__text.css");
@import url("./auth__text_link.css");
@import url("./auth__title.css");
@import url("./auth__label.css");
@import url("./auth__logo-container.css");
@import url("./auth__footer.css");

/* FIGMA 320 design (default) */
.auth {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0;
    padding: 0;
    max-width: 358px;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
}

/* NO FIGMA design */
@media screen and (min-width: 768px) {}

/* FIGMA 1280 */
@media screen and (min-width: 1024px) {
    .auth {
        margin: 60px 30px 80px;
    }
}