.auth__input {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-bottom: 1px solid #424242;
    background-color: transparent;

    outline: none;
    padding: 5px 0 9px;
    width: 100%;
    margin: 0;
}

.auth__input:focus {
    border-bottom-color: #4285F4;
}

.auth__input::placeholder {
    color: #CCCCCC;
}