/* FIGMA 320 design */
.auth__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

    margin: auto 0 0;
    height: 100%;
}


/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .auth__footer {
        /* margin: 179px 0 auto; */
        /* margin: auto 0 auto; */
        margin: auto 0 22.2vh;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .auth__footer {
        margin: auto 0 70px;
    }
}