.searchform__input {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */

    background-color: transparent;
    border: none;
    outline: none;
    /* padding: 5px 0 9px; */
    width: 100%;
    margin: 0;
    padding: 12px;

}

.searchform__input::placeholder {
    font-size: 18px;
    line-height: 20px;
    /* 111.111% */

    color: #8B8B8B;
    padding: 13px;
}