.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 0;
    flex-shrink: 0;

    border-radius: 8px;
    border: 1.5px solid #AAAAAA33;
    /* opacity of border = 0.2; */
    box-sizing: border-box;
}