/* FIGMA 320 design */
.header {
    margin: 0;
    padding: 18px 14px;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .header {
        padding: 18px 30px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .header {
        padding: 18px 70px;
    }
}