/* FIGMA 320 design */
.portfolio-ref__line {
    margin: 19px 0 20px;
    padding: 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #E6E6E6;
    color: #E6E6E6;
    flex-shrink: 0;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .portfolio-ref__line {
        margin: 9px 0 20px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .portfolio-ref__line {
        background-color: #424242;
        color: #424242;
    }
}