/* FIGMA 320 design */

.about-project__roadmap-content_diagram {
    color: #FFF;
    background: #303030;

    padding: 11px 10px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .about-project__roadmap-content_diagram {
        padding: 9px 10px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .about-project__roadmap-content_diagram {
        padding: 9px 14px;
    }
}