/* FIGMA 320 design (default) */
.about-project {
    margin: 0;
    padding: 70px 18px;
    width: 100%;
    box-sizing: border-box;

    flex-shrink: 0;
    background: #202020;

    display: flex;
    flex-direction: column;
    align-items: center;
}