/* FIGMA 320 design */
.about-project {
    padding: 70px 18px 69px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .about-project {
        padding: 91px 50px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .about-project {
        padding: 110px 70px;
    }
}