/* FIGMA 320 design */
.about-project__list {
    margin: 60px 0 0;
    padding: 0;

    display: grid;
    grid-template-columns: auto;
    row-gap: 56px;
    /* or 58& */
    column-gap: 30px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .about-project__list {
        margin: 70px 0 0;

        grid-template-columns: auto auto;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {}