/* FIGMA 320 design (default) */
.footer {
    margin: auto 0 0;
    padding: 79px 0 20px;
    width: 100%;
    box-sizing: border-box;

    flex-shrink: 0;
    background: #202020;

    display: flex;
    flex-direction: column;
    align-items: center;
}