/* FIGMA 320 design */
.techs__line {
    width: 100%;
    margin: 28px auto;
    padding: 0;

    height: 1px;
    border: none;
    background-color: #000;
    color: #000;
    flex-shrink: 0;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .techs__line {
        margin: 23px auto;
        background-color: #DADADA;
        color: #DADADA;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {}