/* FIGMA 320 design */
.techs {
    padding: 70px 14px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .techs {
        padding: 90px 50px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .techs {
        padding: 100px 70px;
    }
}