/* FIGMA 320 design */
.techs__item {
    margin: 0;
    padding: 21px 15px;
    list-style-type: none;

    border-radius: 10px;
    background: #303030;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .techs__item {
        font-size: 14px;
        letter-spacing: -0.56px;
        padding: 21px 14px 22px;
    }
}