.techs__item {
    margin: 0;
    padding: 21px 15px;
    list-style-type: none;

    border-radius: 10px;
    background: #303030;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}