/* FIGMA 320 design */
.about-me__bio {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 145.455% */

    margin: 20px 0 0;
    padding: 0;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .about-me__bio {
        font-size: 12px;
        line-height: 18px;
        /* 150% */

        margin: 16px 0 0;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .about-me__bio {
        font-size: 18px;
        line-height: 20px;
        /* 111.111% */

        margin: 18px 0 0;
    }
}