/* FIGMA 320 design */
.about-me__foto {
    flex-shrink: 0;
    border-radius: 10px;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;

    max-height: 352px;
    max-width: 292px;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .about-me__foto {
        margin-left: 49px;
        margin-right: 0;
        max-height: 307px;
        max-width: 255px;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {
    .about-me__foto {
        max-height: 327px;
        max-width: 270px;
    }
}