.aboutme__link {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 40px 0 0;
    text-decoration: none;
}