/* FIGMA 320 design */
.about-me__line {
    width: 100%;
    margin: 28px auto 0;
    padding: 0;

    height: 1px;
    border: none;
    background-color: #DADADA;
    color: #DADADA;
    flex-shrink: 0;
}

/* FIGMA 768 design */
@media screen and (min-width: 768px) {
    .about-me__line {
        margin: 23px auto 0;
    }
}

/* Intermediate 1024 design - NO FIGMA */
@media screen and (min-width: 1024px) {}

/* FIGMA 1280 design */
@media screen and (min-width: 1280px) {}